{% extends 'base.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% form_theme form '/partials/collectionImages.html.twig  ' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="hidden" id="widget-counter" value="0">
        <button href="{{ path('ads_new') }}" class="btn btn-primary">Créer votre annonce</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/app.js"></script>
{% endblock %}